{% extends "_layout.html.twig" %}

{% block content %}
    
    {% for product in products %}
        <article class="border border-grey-light my-2 p-4 flex ">
            <figure class="mr-4">
                <img class="block" src="{{ product.image }}" alt="">
            </figure>
            <div class="flex-auto">
                <h1 class="text-grey-darker font-normal text-xxl mb-4">{{ product.name }}</h1>

                <form action="/add_item.php" method="post">
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <label for="quantity_{{ product.id }}">
                        Quantity
                    </label>
                    <div>
                        <input id="quantity_{{ product.id }}" type="number" name="quantity" value="1" class="border border-gray shadow-inner p-2">
                        <button class="bg-red-light border border-red rounded text-white py-2 px-4 hover:underline">Add to cart</button>
                    </div>
                </form>
                
                {% if product.infos %}
                    <ul class="text-sm text-red py-2 ml-0 list-reset">
                        {% for info in product.infos %}
                            <li>- {{ info }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    
{% endblock %}